#!/usr/bin/env bash

INSTANCE_ID=`/opt/aws/bin/ec2-metadata -i | awk '{print $2}'`
EC2_AVAIL_ZONE=`curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone`
EC2_REGION="`echo \"$EC2_AVAIL_ZONE\" | sed -e 's:\([0-9][0-9]*\)[a-z]*\$:\\1:'`"

{{ snapper_path }}ec2-snapper create --region=$EC2_REGION --instance-id=$INSTANCE_ID --ami-name={{ application }}Backup >> {{ snapper_script_path }}/ec2-snapper.log
{{ snapper_path }}ec2-snapper delete --region=$EC2_REGION --instance-id=$INSTANCE_ID --older-than=30d >> {{ snapper_script_path }}/ec2-snapper.log